/*General settings*/
:root {
    --main-color: rgb(242, 233, 201);
    --primary-color: rgb(16, 32, 56); 
    --secondary-color: rgb(69, 142, 255);
    --tertiary-color: rgb(255, 203, 68);
    --quaternary-color: rgb(255, 132, 116);
    --quinary-color: rgb(255, 78, 48);
    --normal_font: Designosaur, sans-serif;
}

::selection {
    background-color: var(--quinary-color);
    color: var(--main-color);
}

::-moz-selection {
    background-color: var(--quinary-color);
    color: var(--main-color);
}

::-webkit-scrollbar {
    display: none;
    /* Chromium browsers and Safari*/
}
/*define designosaur font*/
@font-face {
    font-family: "Designosaur";
    src: url("../_assets/fonts/Designosaur-Regular.ttf");
}

* {
    font-family: var(--normal_font);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    box-sizing: border-box;
}


body {
    margin: 0em;
    background-image: url("../_assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: xxx-large;
}
h2{
    font-size: xx-large;
}

/* Navigation*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 2em;
    transition: background-color 350ms linear;
    position: fixed;
    top: 0;
    width: 100%;
}
.yellow{
    background-color: var(--main-color);
}
.top-nav a{
    color: black;
    text-decoration: none;

}
.top-nav a:hover{
    text-decoration: underline;
}
.top-nav a img{
    width: 1.8cm;
}
.logo-top{
    left: 48%;
    position: fixed;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--primary-color);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 820px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        /* border: 1px solid var(--secondary-color); */
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: var(--main-color);
    }
}

/* Content 1 index */

.content {
    text-align: center;

}
.content h1{
    padding-top: 4em;
    color: var(--primary-color);
}
.content h2{
    font-size: 36px;
    color: var(--primary-color);
}

.content button{
    padding: 0.7em 1.5em;
    font-size: large;
    border-radius: 0.5em;
    background-color: var(--secondary-color);
    border-style: none;
    color: white;
    font-weight: bold;
    margin-bottom: 4em;

}
@media (max-width: 820px) {
    .content h1{
        padding-top: 2em;
    }
    .content h2{
        padding-top: -2em;
    }
}
/* Content Facts*/
.facts {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    margin-top: 4em;
    text-align: center;

}
.facts div{
    width: 33%;
    padding: 4em 6em;

}
.facts div object{
    width: 5em;
    display: block;
    margin: auto;
}
.facts h3{
    display: inline-block;
}
.facts p{
    width: 50%;
    margin: auto;
    font-size: small
}
@media (max-width: 820px) {
    .facts { 
        display: block;
        margin: 0.5em 0;
        padding: 0em 0;
    }
    .facts div{
        width: 100%;
        padding: 3em 2em;
    }
    .facts p{
        width: 100%;
    }
}

/* Community */
.community-chats {
    padding-top: 7em;
}

.community-chats h2,
.community-chats h1 {
    color: white;
    text-align: center;
}
.community-chats a{
    padding: 1em;
    margin: 1em;
}

.community-chats svg {
    display: inline-block;
    height: clamp(64px, 8vw, 20em);
    width: auto;
}
.community-chat-groups,
#reddit {
    display: flex;
    margin: auto;
    max-width: 40em;
    max-height: 30em;
    justify-content: space-around;
}

@media (max-width: 820px) {
    .community-chats {
        padding-top: 0;
        padding-bottom: 2em;
    }
    .community-chats a{
        margin: 0;
        padding: 0;
    }
    .community-chats{
        margin: 0.5em 0;
    }
}